body {
  font-family: Helvetica, serif;
  padding: 2rem;
}

textarea {
  resize: none;
}

#logger {
  font-size: 12px;
}

#gear {
  font-size: 40px;
  cursor: pointer;
}

#download-history {
  font-size: 40px;
  cursor: pointer;
  padding-left: 2rem;
}

#download-history-secondary {
  font-size: 20px;
  cursor: pointer;
}

#output {
  font-size: 12px;
}