body {
  font-family: Helvetica, serif;
  padding: 2rem;
}

textarea {
  resize: none;
}

#logger {
  font-size: 12px;
}

#gear {
  font-size: 40px;
  cursor: pointer;
}

#download-history {
  font-size: 40px;
  cursor: pointer;
  padding-left: 2rem;
}

#download-history-secondary {
  font-size: 20px;
  cursor: pointer;
}

#output {
  font-size: 12px;
}

#download-btn {
  background-color: #089cd4;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#download-btn:focus {
  outline: none;
  box-shadow: none;
}

#download-btn:active {
  background-color: #0980ac;
}

#preview-video-link {
  font-size: 12px;
}
